body{
    background: #F3F3F3;
}

/* navbar */
.navbar-default {
    background-color: #0084b4;
    border : 0px;

    border-radius: 0px;
}

/* Header Navbar */
@media screen and (min-width:768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.table {
    width: 70%;
    margin: auto;
}

th {
    text-align: center;
    font-size: 2.5vw;
}

th:first-child {
    width: 35%;
}

td:first-child {
    display: flex;
}

td:nth-child(2) {
    padding-left: 10% !important;
}

.userCard, .tweetCard {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
    padding: 3%;
    margin-bottom: 3%;
    background: #FBFBFB;
}

.userCard>div {
    display: inline-table;
}

.followButton {
    display: inline-grid;
    float: right;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 6px;
    text-decoration: none;
}

.followButton:hover {
    color: white;
    background-color: #337ab7;
    text-decoration: none;
}

.followButton>* {
    display: inline;
}


.userImg {
    width: 4vw;
    height: 4vw;
}

.userImg img {
    width: inherit;
    height: inherit;
}

.userInfo {
    vertical-align: top;
    margin-left: 2vw;
}
        
.userInfo div {
    display: block;
}

.userName {
    font-size: 2vh;
    font-weight: bolder;
    color: black;
}

.userHandle {
    margin-top: 5px;
    color: rgba(0,0,0,0.6);
}

.tweetCard p {
    word-break: break-word;
}

.imgLink {
    display: inline;
}

.tweetImg {
    width: 100%;
}





