.table {
    width: 60%;
    margin: auto;
}

th {
    text-align: center;
    font-size: 2.5vw;
}

th:first-child {
    width: 35%;
}

td:first-child {
    display: flex;
}

td:nth-child(2) {
    padding-left: 5%;
}

.userCard, .tweetCard {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #f3f3f3;
    padding: 3%;
    margin-bottom: 3%;
}

.userCard>div {
    display: inline-table;
}

.followButton {
    box-sizing: border-box;
}

.followContent {
    box-sizing: border-box;
}

.followButton .followContent>a {
    display: inline-grid;
    box-sizing: border-box;
    padding: 10%;
    border-radius: 10px;
    text-decoration: none;
}

.followButton .followContent>a:hover {
    color: white;
    background-color: #337ab7;
    text-decoration: none;
}

.followButton .followContent>a>* {
    display: inline;
}


.userImg {
    width: 4vw;
    height: 4vw;
}

.userImg img {
    width: inherit;
    height: inherit;
}

.userInfo {
    vertical-align: top;
    margin-left: 2vw;
}
        
.userInfo div {
    display: block;
}

.userName {
    font-size: 2vh;
    font-weight: bolder;
    color: black;
}

.userHandle {
    margin-top: 5px;
    color: rgba(0,0,0,0.6);
}

.tweetCard p {
    word-break: break-word;
}

.imgLink {
    display: inline;
}

.tweetImg {
    width: 100%;
}
